[submodule "plugins/catppuccin/tmux"]
	path = plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux
[submodule "plugins/oh-my-tmux"]
	path = plugins/oh-my-tmux
	url = https://github.com/gpakosz/.tmux.git
